/.vscode
/alldata
/survival
/test_php
/updated
/textmining
/wordpress
/micha_api
/dictionary
/umea_app
/data_base_backup
config/
uploaded_data/




api/vendor/
api/node_modules/
api/storage/
api/database/
api/.env
api/README.md
api/node_modules
api/public/hot
api/public/storage
api/storage/*.key
api/vendor
api/.env
api/.env.backup
api/.phpunit.result.cache
api/Homestead.json
api/Homestead.yaml
api/npm-debug.log
api/yarn-error.log





micha_data/
images/
table_order_Micha.txt
info.txt
LoaderIcon.gif
bar.gif
1.png
2.PNG
4.png
SimpleXLSX.php
database.class.php
mysql.sessions.php
write_to_session_cname.php
write_to_session_assay.php
write_to_session_analysis.php
write_to_session.php
jehad_css.css
annotation.php
maximize.svg
templatemo_style.css


